@import '~bootstrap/scss/bootstrap';
@import 'main';
@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');

body {
  background-color: black;
  font-family: 'Share Tech', sans-serif;
  text-align: center;
}

// SIGN UP AND SIGN IN FORM DIV
.signUpAndSignIn {
  // background-color: black;
  display: flex;
  padding-top: 20px;
}

#sign-up {
  padding-left: 100px;
}

#sign-in {
  padding-left: 80px;
}

#change-password {
  padding-left: 100px;
}

#sign-out {
  padding-left: 80px;
}

// ICONS
i {
  color: $hover-color;
}

// CHANGE PASSWORD AND SIGN OUT FORM DIV
.changePasswordAndSignOut {
  display: flex;
  padding-top: 20px;
}


// ALL BUTTONS
#btnSignUp {
  background-color: $background-color-button;
  color: $button-color;
  border-radius: 30px;
  // margin-left: 300px;
}

#btnSignUp:hover {
  background-color: $button-color;
  color: $hover-color;
}

#btnSignIn {
  background-color: $background-color-button;
  color: $button-color;
  border-radius: 30px;
  // margin-left: 300px;
}

#btnSignIn:hover {
  background-color: $button-color;
  color: $hover-color;
}

#btnChangePassword {
  background-color: $background-color-button;
  color: $button-color;
  border-radius: 30px;
  // margin-left: 300px;
}

#btnChangePassword:hover {
  background-color: $button-color;
  color: $hover-color;
}

#btnSignOut {
  background-color: $background-color-button;
  color: $button-color;
  border-radius: 30px;
  margin-left: 300px;
}

#btnSignOut:hover {
  background-color: $button-color;
  color: $hover-color;
}

#btn-index-entry {
  background-color: $background-color-button;
  color: $button-color;
  border-radius: 30px;
}

#btn-index-entry:hover {
  background-color:$button-color;
  color: $hover-color;
}

// #btnCreateEntry {
//   background-color: $background-color-button;
//   color: $button-color;
//   border-radius: 30px;
// }
//
// #btnCreateEntry:hover {
//     background-color:$button-color;
//     color: $hover-color;
// }

input {
  color: $hover-color;
  background-color: $button-color;
  border-radius: 5px;
  // background-color: Transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  height: 25px;
  margin-right: 20px;
  outline: none;
  width: 150px;
}

::placeholder {
  color: white;
}

h1 {
  color: $hover-color;
  font-size: 100px;
  padding-top: 100px;
}

textarea {
  background-color: black;
  color: $hover-color;
}

span {
  color: #c99ad6;
}

#message {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.success {
  color: green;
  justify-content: center;
}

.failure {
  color: red;
  justify-content: center;
}
