@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');

body {
  background-color: black;
  font-family: 'Share Tech', sans-serif;
  text-align: center;
}

.signUpAndSignIn {
  // background-color: black;
  display: flex;
  padding-top: 10px;
}

#sign-up {
  padding-left: 100px;
}

#sign-in {
  padding-left: 80px;
}

i {
  color: #00FF41;
}

.changePasswordAndSignOut {
  display: flex;
  padding-top: 10px;
}

#btnSignOut {
  border-radius: 30px;
  margin-left: 300px;
}

input {
  color: #00FF41;
  background-color: black;
  border-radius: 5px;
  // background-color: Transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  height: 25px;
  margin-right: 20px;
  outline: none;
  width: 150px;
}

::placeholder {
  color: white;
}

h1 {
  color: #00FF41;
  font-size: 100px;
}

span {
  color: #c678dd;
}

#message {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.success {
  color: green;
  justify-content: center;
}

.failure {
  color: red;
  justify-content: center;
}
