@import '~bootstrap/scss/bootstrap';

#message {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.success {
  color: green;
  justify-content: center;
}

.failure {
  color: red;
  justify-content: center;
}
